h1 {
  padding-top: 20px;
  font-size: clamp(25px, 4.5vw, 35px);
  height: 50%;
}

strong {
  font-size: clamp(14px, 3.5vw, 20px);
  height: 25%;
}

p {
  font-size: clamp(10px, 2vw, 14px);
  height: 25%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.mirrow {
  display: flex;
  /* border: 2px solid black; */
  width: clamp(300px, 95vw);
  padding: auto;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;

}

.perfil {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 150px;
  height: 210px;
  text-align: center;
  margin: 2px;

  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;


}



img {
  height: 90%;

  /* border: 2px solid rgb(68, 68, 110); */

}

.name {
  height: 5%;
  font-size: clamp(10px, 10%, 14px);
  /* border: 2px solid rgb(68, 68, 110); */
  margin-bottom: 1%;
}

.vertical {
  transform: translateY(-50%) rotate(90deg);
  transform-origin: left bottom;
  font-size: 14px;
  opacity: 0.5;

}

.mirrow .perfil:nth-child(even) {
  margin-top: 40px;
}

@media (min-width: 376px) {

  /* Otros estilos específicos para pantallas más grandes que 375px */
  .cabecera {
    display: flex;
    width: clamp(300px, 95vw);
    padding: auto;
    margin: 20px;

    flex-flow: row wrap;
    justify-content: start;
    align-items: flex-start;
  }

  h1 {
    height: 100%;
    width: 50%;

  }

  p {
    padding-top: 20px;
    width: 30%;
  }

  .mirrow {
    margin: 20px;
  }

}

@media (min-width: 520px) {


  .perfil {
    width: 200px;
    height: 280px;
  }

  .name {
    font-size: clamp(15px, 1vw, 20px);
  }

  .vertical {
    font-size: clamp(15px, 1vw, 20px);

  }


}

@media (min-width: 875px) {


  .perfil {
    width: 250px;
    height: 350px;
  }

  .name {
    font-size: clamp(20px, 1vw, 24px);
  }

  .vertical {
    font-size: clamp(20px, 1vw, 24px);

  }
}
